name: Build APK

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Install Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install System Dependencies
      run: |
        sudo apt update
        sudo apt install -y git zip unzip openjdk-17-jdk python3-pip
        pip install --upgrade pip

    - name: Install Buildozer + distutils
      run: |
        pip install cython==0.29.36 buildozer
        pip install setuptools  # includes distutils for Python 3.10

    - name: Build APK
      run: |
        buildozer -v android debug

    - name: Upload APK Artifact
      uses: actions/upload-artifact@v4
      with:
        name: safespot-apk
        path: bin/*.apk
