name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3 python3-pip python3-setuptools git zip unzip openjdk-17-jdk

      - name: Install Buildozer
        run: |
          pip install --upgrade buildozer cython virtualenv

      - name: Create venv
        run: |
          python3 -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install python-for-android==2024.1.21

      - name: Setup Android SDK / NDK
        run: |
          mkdir -p /usr/local/lib/android/sdk/ndk/
          wget https://dl.google.com/android/repository/android-ndk-r23b-linux.zip -O ndk.zip
          unzip ndk.zip -d /usr/local/lib/android/sdk/ndk/
          mv /usr/local/lib/android/sdk/ndk/android-ndk-r23b /usr/local/lib/android/sdk/ndk/23.1.7779620

      - name: Build APK
        env:
          ANDROIDSDK: /usr/local/lib/android/sdk
          ANDROIDNDK: /usr/local/lib/android/sdk/ndk/23.1.7779620
        run: |
          source venv/bin/activate
          buildozer android debug
