name: Build APK

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Force Python 3.10 (required by Buildozer)
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y zip unzip openjdk-17-jdk python3-pip libncurses5
          pip install --upgrade pip

      # Download Android SDK commandline tools
      - name: Install Android SDK
        run: |
          mkdir -p $HOME/android-sdk
          cd $HOME/android-sdk
          wget https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip -O cmdtools.zip
          mkdir -p cmdline-tools
          unzip cmdtools.zip -d cmdline-tools
          mv cmdline-tools/cmdline-tools cmdline-tools/latest

          yes | cmdline-tools/latest/bin/sdkmanager --sdk_root=$HOME/android-sdk "platform-tools" "platforms;android-33" "build-tools;33.0.2"

      # Install Buildozer
      - name: Install Buildozer
        run: |
          pip install cython==0.29.36 buildozer==1.5.0 setuptools

      - name: Build APK
        env:
          ANDROIDSDK: $HOME/android-sdk
          ANDROID_HOME: $HOME/android-sdk
          ANDROID_NDK_HOME: $HOME/.buildozer/android/platform/android-ndk-r25b
        run: |
          buildozer -v android debug

      # Upload final APK
      - name: Upload apk
        uses: actions/upload-artifact@v4
        with:
          name: safespot-apk
          path: bin/*.apk
